
<p> Algo aqui!</p>
<!-- 
/* **ngFor="let item of list" (dado of dadosList$ | async; track dado) { -->
    
    <!-- <div If="dadosList.length > 0; else loading"> -->
        <!-- <div>
            <ul>
                <li>
                    <p>ID: {{ dado.user.id }}</p>
                    <p>Login: {{ dado.user.login }}</p>
                    <p>Nome: {{ dado.user.name }}</p>
                    <p>E-mail: {{ dado.user.email }}</p>
                    <p>Role: {{ dado.user.role }}</p> 
                    <p>Token: {{ dado.token }}</p>
                    <hr />
                </li>
            </ul>
        </div> -->
    
    <!-- <ng-template #loading>
        <p>Carregando dados...</p>
    </ng-template> -->
    
<!-- } -->