<!-- dashboard.component.html -->
<div *ngIf="userData">
    <h1>Bem-vindo, {{ userData.nome }}</h1>
    <p><strong>ID:</strong> {{ userData.cdPessoaUsr }}</p>
    <p><strong>Email:</strong> {{ userData.email }}</p>
    <p><strong>Login:</strong> {{ userData.login }}</p>
    <p><strong>Empresa:</strong> {{ userData.cdPessoaEmp }}</p>
  
    <!-- Exibe o token de autenticação, se necessário -->
    <p><strong>Token de Autenticação:</strong> {{ authToken }}</p>
  </div>
  
  <!-- Caso não tenha dados ou o login não tenha sido feito, exibe uma mensagem -->
  <div *ngIf="!userData">
    <p>Você não está autenticado. Por favor, faça login.</p>
  </div>
  

<!-- 
<div *ngIf="userData">
    <H2> BEM VINDO</H2>
  <h1>Bem-vindo, {{ userData.nome }}</h1>
  <p>ID: {{ userData.nome }}</p>
  Outros dados do usuário
</div> -->
